#loading {
  display: none;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.header-flex form {
  margin-top: 10px;
}

.json-container {
  display: none;
}

.home {
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  margin: 12px 0;
}

.table-wrap {
  overflow-x: auto;
}

.home th {
  font-weight: bold;
}

.option-title {
  font-size: 1rem;
}

.edit form input {
  display: block;
}

.success {
  background: green;
  color: white !important;
}

.failed {
  background: red;
  color: white !important;
}